* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f7fa;
}


.navbar {
    background: linear-gradient(90deg, #0f172a, #1e3a8a) !important;
    padding: 15px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #fff !important;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link {
    color: #fff !important;
    font-size: 17px;
    margin: 0 10px;
    transition: .3s;
    border-radius: 5px;
}

.nav-link:hover {
    background: #fff;
    color: #1e3a8a !important;
}

.dropdown-menu {
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.dropdown-item {
    transition: .3s;
}

.dropdown-item:hover {
    background: #1e3a8a;
    color: #fff;
}

.form-control {
    border-radius: 30px;
}

.btn-outline-success {
    border-radius: 30px;
    color: #fff;
    border: 2px solid #fff;
}

.btn-outline-success:hover {
    background: #fff;
    color: #1e3a8a;
}


.carousel {
    margin-bottom: 60px;
}

.carousel-item img {
    height: 550px;
    object-fit: cover;
}


.container {
    margin-top: 40px;
    margin-bottom: 60px;
}

.card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.card img{
    height:220px;
    object-fit:cover;
    transition:.5s;
}

.card:hover img{
    transform:scale(1.08);
}

.card-body{
    padding:20px;
    background:#fff;
}

.card-text {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
}


.footer {
    background: #214b9b;
    color: #fff;
    padding: 70px 0;
}

.footer h3 {
    color: #ffc107;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer p,
.footer li {
    color: #ddd;
    line-height: 32px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}


@media(max-width:768px) {

    .carousel-item img {
        height: 280px;
    }

    .navbar-brand {
        font-size: 22px;
    }

    .card {
        margin: auto;
        margin-bottom: 25px;
    }
}

@media(max-width:576px) {

    .carousel-item img {
        height: 220px;
    }

    .card img {
        height: 180px;
    }
}